@import "assets/styles/abstracts/variables";

.header {
  display: flex;
  align-items: center;

  padding: 0 !important;

  &__light {
    background: $header-background !important;
  }

  &__title {
    margin-bottom: 0;
  }

  &__trigger {
    padding: 0 1.4rem;
    font-size: $header-trigger-font-size;
    transition: $header-trigger-transitions;
    cursor: pointer;

    &:hover {
      color: $header-trigger-hover-color;
    }
  }
}
