@import "assets/styles/abstracts/variables";
@import "assets/styles/abstracts/mixins";

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 3rem;
    font-weight: $bold;
  }

  &__link {
    font-size: 1.2rem;
    color: $black;
  }

  &__moon {
    width: 13rem;

    @include breakpoint-to($mobile) {
      width: 10rem;
    }

    @include breakpoint-to($mobile-sm) {
      width: 7rem;
    }
  }
}
